.jumbotron {
  background: linear-gradient(90deg, rgb(99, 175, 189) 10%, rgb(123, 133, 223)); 
}

.card-body {
  background-color: rgb(230, 230, 230);
}

.manager {
  background: linear-gradient(90deg, rgb(144, 140, 184) 10%, rgb(188, 153, 212));
}

.engineer {
  background: linear-gradient(90deg, rgb(95, 212, 120) 10%, rgb(117, 202, 174));
}

.intern {
  background: linear-gradient(90deg, rgb(248, 198, 119) 10%, rgb(242, 255, 127));
}
